/* =========================
   Hero Section
========================= */

.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: transparent;
}

/* =========================
   Background Blur
========================= */

.blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
}
/* .blur-left{
    background: rgba(0, 212, 255, 0.20);
} */
.blur1 {
  width: 350px;
  height: 350px;
 background: rgba(0, 212, 255, 0.20);
  top: 50px;
  left: -120px;
}

.blur2 {
  width: 350px;
  height: 350px;
  background: rgba(121, 175, 255, 0.25);
  bottom: 0;
  right: -120px;
}

/* =========================
   Left Side
========================= */

.hero-greeting {
  font-size: 24px;
  font-weight: 600;
  color: #0d6efd;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 65px;
  font-weight: 800;
  line-height: 1.1;
  color: var(--text);
}


.hero-title span {
  background: linear-gradient(90deg, #0d6efd, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-size: 30px;
  font-weight: 700;
color:var(--text2);
  margin: 20px 0;
  min-height: 40px;
}

.hero-text {
  max-width: 560px;
  line-height: 1.8;
  font-size: 18px;
  color:var(--text2);
}

/* =========================
   Buttons
========================= */

.hero-buttons .btn {
  padding: 14px 35px;
  border-radius: 50px;
  font-weight: 600;
  transition: .4s;
}

.hero-buttons .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(13, 110, 253, .3);
}

/* =========================
   Social Icons
========================= */

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  width: 55px;
  height: 55px;
 background:var(--card);
color:var(--primary);
border:1px solid var(--border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d6efd;
  font-size: 22px;
  text-decoration: none;
  transition: .4s;
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
}

.social-icons a:hover {
  background: #0d7dfd;
  color: white;
  transform: translateY(-8px) rotate(360deg);
}

/* =========================
   Image
========================= */

.hero-image {
  width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 50%;
  padding: 8px;
  background: linear-gradient(135deg,#0d6efd,#00d4ff);
  box-shadow:
    0 0 25px rgba(13,110,253,.4),
    0 0 50px rgba(13,110,253,.3);
}

/* =========================
   Responsive
========================= */

@media(max-width:992px){

.hero-section{
text-align:center;
padding-top:120px;
}

.hero-title{
font-size:48px;
}

.hero-subtitle{
font-size:25px;
}

.hero-text{
margin:auto;
font-size:17px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.social-icons{
justify-content:center;
}

.hero-image{
width:300px;
height:300px;
margin-top:40px;
}

}

@media(max-width:576px){

.hero-title{
font-size:38px;
}

.hero-subtitle{
font-size:22px;
}

.hero-text{
font-size:16px;
}

.hero-buttons .btn{
width:100%;
}

.hero-image{
width:250px;
height:250px;
}

}
@media (max-width:991px){

.hero-section .row{
    display:flex;
    flex-direction:column;
}

.hero-section .row > div:first-child{
    order:2;
}

.hero-section .row > div:last-child{
    order:1;
    margin-bottom:30px;
}

}